[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pymongo = "*"
pandas = "*"
python-dotenv = "*"
tqdm = "*"
matplotlib = "*"
scipy = "*"
statsmodels = "*"
ipympl = "*"
seaborn = "*"
fastdtw = "*"
mysql-connector-python = "*"
pymysql = "*"
dnspython = "*"
choix = "*"

[dev-packages]

[requires]
python_version = "3.8"
