[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
ipykernel = "*"
mysql-connector-python = "*"
pymongo = "*"
pandas = "*"
pymysql = "*"
python-dotenv = "*"
tqdm = "*"

[requires]
python_version = "3.8"
